body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Setting fot odd rows. */
tr:nth-child(odd) {
	background: #36AAD8;
	color:red;
}

/* Setting fot even rows. */
tr:nth-child(even) {
	background: red;
	color:#fff;
}

table {
	height: 100%;
    width: 100%;
}

th {
	background: green;
	color: #fff;
}

td {
	text-align: center;
}

th, td {
	padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
